services:
  moodle:
    container_name: lti_consumer_poc_moodle
    image: bitnamilegacy/moodle:5.0.1-debian-12-r6
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MOODLE_DATABASE_USER=${MOODLE_DB_USER}
      - MOODLE_DATABASE_PASSWORD=${MOODLE_DB_PASSWORD}
      - MOODLE_DATABASE_NAME=${MOODLE_DB_NAME}
      - MOODLE_DATABASE_PORT_NUMBER=${MOODLE_DB_PORT}
      - MOODLE_DATABASE_HOST=127.0.0.1
      - MOODLE_USERNAME=${MOODLE_USERNAME}
      - MOODLE_PASSWORD=${MOODLE_PASSWORD}
      - MOODLE_SITE_NAME=Local Moodle
      - BITNAMI_DEBUG=true
    volumes:
      - moodle_data:/bitnami/moodle
      - moodledata_data:/bitnami/moodledata
      - ./certs/rootCA.pem:/usr/local/share/ca-certificates/mkcert-root.crt:ro
    depends_on:
      moodle_db:
        condition: service_healthy
    profiles:
      - full
    command: /bin/bash -c " update-ca-certificates && echo 'openssl.cafile=/etc/ssl/certs/ca-certificates.crt' >> /opt/bitnami/php/etc/php.ini && /opt/bitnami/scripts/moodle/entrypoint.sh /opt/bitnami/scripts/moodle/run.sh "
    network_mode: host

  platform_db:
    container_name: lti_experiment_consumer_pg_db
    image: postgres:18
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - ${DB_PORT}:5432
    profiles:
      - full
      - local
    volumes:
      - platform_data:/var/lib/postgresql/data

  moodle_db:
    container_name: lti_consumer_poc_moodle_mariadb
    image: bitnami/mariadb:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=${MOODLE_DB_USER}
      - MARIADB_PASSWORD=${MOODLE_DB_PASSWORD}
      - MARIADB_DATABASE=${MOODLE_DB_NAME}
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_unicode_ci
    volumes:
      - mariadb_data:/bitnami/mariadb
    ports:
      - ${MOODLE_DB_PORT}:3306
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    profiles:
      - full

  platform_redis:
    image: redis/redis-stack-server:latest
    container_name: lti_experiment_consumer_redis
    environment:
      REDIS_ARGS: |
        --requirepass ${REDIS_PASSWORD}
        --user ${REDIS_USER}
        on >${REDIS_PASSWORD} allkeys allcommands +@all
    ports:
      - ${REDIS_PORT}:6379
    profiles:
      - full
      - local

volumes:
  moodle_data:
    driver: local
  moodledata_data:
    driver: local
  mariadb_data:
    driver: local
  platform_data:
