:root, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 12px;
}

label > span {
    display: block;
    margin-bottom: 8px;
}

label.checkbox-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

label.checkbox-item > span {
    margin-bottom: unset;
}

.error-span {
    color: red;
}

.success-alert {
    padding: 8px 16px;
    background: color-mix(in oklab, green 25%, transparent);
    color: green;
    margin-bottom: 12px;
}

.error-alert {
    padding: 8px 16px;
    background: color-mix(in oklab, red 25%, transparent);
    color: red;
    margin-bottom: 12px;
}

.warning-alert  {
    padding: 8px 16px;
    background: color-mix(in oklab, #ffb300 25%, transparent);
    color: #8a6100;
    margin-bottom: 12px;
}

.success-alert a { font-weight: bold; color: green; }
.error-alert a { font-weight: bold; color: red; }
.warning-alert a { font-weight: bold; color: #8a6100; }

.main {
    margin: 24px;
}

#app-header {
    padding: 12px 24px;
    border-bottom: 1px solid black;

    nav ul {
        display: flex;
        align-items: center;
        gap: 8px;

        li {
            list-style: none;
        }
    }

    .nav-dropdown {
        summary {
            cursor: pointer;
            user-select: none;
        }

        ul {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            align-items: start;

            background: white;
            padding: 8px;
            border: 1px solid black;

            width: calc(100vw - 24px);
            max-width: 200px;
        }
    }
}

.base-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

    thead {
        border-bottom: 1px solid black;
        background: #eee;

        th {
            text-align: start;
        }

        th:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    ul {
        list-style: none;
    }

    tbody tr {
        vertical-align: super;
    }

    tbody tr:not(:last-child) {
        border-bottom: 1px solid black;
    }

    tbody tr td:not(:last-child) {
        border-right: 1px solid black;
    }

    td, th {
        padding: 4px 8px;
    }
}

.vertical-table {
    border: 1px solid black;

    .item {
        display: flex;

        & > * {
            padding: 4px 8px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid black;
        }

        header {
            background-color: #eee;
            border-right: 1px solid black;
            max-width: 150px;
            width: 30%;
        }
    }
}